.subInfo {
	background: white !important;
	padding: 4px !important;
	margin-left: 20px !important;
	font-size: 20px !important;
	font-weight: 600 !important;
	color: #0e6fb8 !important;
}

.ui-divider.ui-divider-solid.ui-divider-horizontal:before {
	color: #c1c1c1;
}

.icon {
	margin-right: 25px;
}

.iconInfo {
	color: #5c5a5a;
	font-size: 24px;
	margin-right: 15px;
	margin-top: 2px;
	margin-left: 20px
}

.divInfo {
	display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid #b1afaf;
	margin-bottom: 25px;
}

@media screen and (max-width: 930px) {
	#info {
		font-size: 14px !important;
	}
	.iconInfo {
		font-size: 24px !important;
	}
	.info {
		font-size: 16px !important;
	}
	.habilidade {
		font-size: 16px !important;
	}
	.kob {
		width: 40px !important;
	}
	#divHabilidade {
		flex-wrap: wrap !important;
	}
	.icon {
		margin-right: 15px !important;
	}
	.userImg {
		width: 80% !important;
	}
}

@media screen and (max-width: 630px) {
	.icon {
		margin-right: 5px !important;
	}
	#userInfo {
		width: 35% !important;
	}
	#userDados {
		width: 65% !important;
	}
	#aviso {
		font-size: 14px !important;
		padding: 10px !important;
	}
}