#cabecalho, #cabecalhoMobile {
	background-image: url("/resources/images/cidade.jpg") !important;
}

#tabela_head {
	display: table-column !important;
}

.styleInfo {
	margin-right: 10px;
	font-size: 16px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	color: black !important;
	background-color: #ffffff !important;
	background-image: linear-gradient(to bottom, #ffffff, #d7d7d7)
		!important;
}

.ui-datatable-odd, ui-treetable-odd {
	background-color: #ffffff !important;
}

.trDesativada {
	background: #c9c5c547 !important;
	opacity: 0.8 !important;
}

#tabela_data, #tabela_paginator_bottom {
	border: none !important;
	margin-top: 5px !important;
}

#tabela_data td {
	border: none !important;
	border-bottom: 1px solid #c5c2c2 !important;
}

.styleBtn {
	border-radius: 16px !important;
	font-size: 13px !important;
	margin-bottom: 5px !important;
	margin-right: 3px !important;
}

.styleDivFiltro {
	display: grid !important;
	margin-bottom: 10px !important;
}

#searchBtn {
	border: 2px solid #d2d6de !important;
}

#searchIcon {
	border: 2px solid #d2d6de !important;
	border-right: none !important;
	width: 30px !important;
	background-color: #8080802e !important;
}

#dialogoVaga {
	width: 80% !important;
	height: 80% !important;
}

#header {
	background-color: #386491a6 !important;
	padding-top: 40px !important;
	padding-bottom: 30px !important;
}

.ui-divider.ui-divider-solid.ui-divider-horizontal:before {
	border: 1px solid #c7c2c2f7 !important;
}

@media screen and (max-width: 760px) {
	#menuFiltrosMobile {
		display: grid !important;
	}
	#menuFiltros {
		display: none !important;
	}
	#tabelaVagas {
		width: 100% !important;
	}
	#searchBtn {
		min-width: 250px !important;
	}
	#cabecalhoMobile {
		display: grid !important;
	}
	#cabecalho {
		display: none !important;
	}
	#resumoVaga {
		font-size: 14px !important;
		width: 65% !important;
	}
	#dialogoVaga {
		width: 90% !important;
	}
	.ui-column-title {
		display: none !important;
	}
	.logoEmpresa td:nth-child(1) {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
}

@media screen and (max-width: 1175px) {
	.colunaInfo {
		display: grid !important;
	}
}

.logoEmpresa td:nth-child(1) {
	width: 30% !important;
}

.subTituloDescricao {
	background: white !important;
	padding: 4px !important;
	margin-left: 20px !important;
	font-size: 18px !important;
	font-weight: 600 !important;
}

.subDivDescricao {
	margin-top: 10px !important;
	display: grid !important;
	margin-bottom: 30px !important;
}

.subTextoDescricao {
	font-size: 16px !important;
	margin-top: 10px !important;
	font-family: system-ui !important;
}